<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>{{bio.firstName}} {{bio.lastName}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css styles/main.css -->
        <link rel="stylesheet" href="resume.css">
        <!-- endbuild -->
        <style type="text/css">
        @import url(http://fonts.googleapis.com/css?family=Montserrat);
        @import url(http://fonts.googleapis.com/css?family=Open+Sans);


        body
        {
          font-family : Open Sans;
          line-height : 23px;
        }

        img
        {
          max-height : 150px;
        }

        h1,h2,h3,h4,h5,h6
        {
          font-family : Montserrat;
        }

        .section-title
        {
          border-bottom-style : solid;
          border-bottom-width : 1px;
          border-bottom-color : #EAEDF1;
          padding-bottom : 0.5em;
          margin-bottom : 0.5em;
          margin-top : 1em;
        }
        .browsehappy {
            margin: 0.2em 0;
            background: #ccc;
            color: #000;
            padding: 0.2em 0;
        }

        .navbar
        {
          background-color :white;
          color : #6C7A89;
        }

        .name
        {
          margin-top : 8px;
        }

        /*
        * Professional Experiences
        */

        .cbp_tmtimeline {
            margin: 30px 0 0 0;
            padding: 0;
            list-style: none;
            position: relative;
        }

        /* The line */
        .cbp_tmtimeline:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            width: 10px;
            //background:#bdc3c7;
            background : #EAEDF1;
            left: 20%;
            margin-left: -10px;
        }

        .cbp_tmtimeline > li {
            position: relative;
        }

        /* The date/time */
        .cbp_tmtimeline > li .cbp_tmtime {
            display: block;
            width: 25%;
            padding-right: 100px;
            position: absolute;
        }

        .cbp_tmtimeline > li .cbp_tmtime span {
            display: block;
            text-align: right;
        }

        .cbp_tmtimeline > li .cbp_tmtime span:first-child {
            font-size: 1em;
            color: #bdd0db;
        }

        .cbp_tmtimeline > li .cbp_tmtime span:last-child {
            font-size: 2em;
            color: #67809F;
        }

        .cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
            color: #67809F ;
        }

        /* Right content */
        .cbp_tmtimeline > li .cbp_tmlabel {
            margin: 0 0 15px 25%;
            background : white;
            font-weight: 300;
            line-height: 1.4;
            position: relative;
            border-radius: 4px;
            border-color : #EAEDF1;
            border-style : solid;
        }

        .cbp_tmtimeline > li .cbp_tmlabel h2 {
            margin-top: 0px;
            font-size : 1.3em;
            text-transform : uppercase;
            padding: 0.5em 0.5em 5px 0.5em;
            background : #EAEDF1;
            border-bottom: 1px solid rgba(255,255,255,0.4);
        }

        .cbp_tmtimeline > li .cbp_tmlabel .company{
          font-size : 0.7em;
          float : right;
        }

        .cbp_tmtimeline > li .cbp_tmlabel .tags{

          padding: 0.5em 0.5em 5px 0.5em;
        }

        .cbp_tmtimeline > li .cbp_tmlabel .tags .taggroup{
          text-align : right;
        }

        .cbp_tmtimeline > li .cbp_tmlabel .tags .taggroup .greenbadge{
          background-color : #1abc9c;
        }
        .cbp_tmtimeline > li .cbp_tmlabel p {
            padding: 0 0 5px 1em;
        }

        .cbp_tmtimeline > li .cbp_tmlabel a {
            color : #67809F;
        }


        /* The triangle */
        .cbp_tmtimeline > li .cbp_tmlabel:after {
            right: 100%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;

            border-right-color : #EAEDF1;
            border-width: 10px;
            top: 10px;
        }

        /* The icons */
        .cbp_tmtimeline > li .cbp_tmicon {
            width: 40px;
            height: 40px;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            font-size: 1.4em;
            line-height: 40px;
            -webkit-font-smoothing: antialiased;
            position: absolute;
            color: #fff;
            background: #bdc3c7;
            border-radius: 50%;
            box-shadow: 0 0 0 5px #95a5a6;
            text-align: center;
            left: 20%;
            top: 0;
            margin: 0 0 0 -25px;
        }

        /* Example Media Queries */
        @media screen and (max-width: 65.375em) {

            .cbp_tmtimeline > li .cbp_tmtime span:last-child {
                font-size: 1.5em;
            }
        }

        @media screen and (max-width: 47.2em) {
            .cbp_tmtimeline:before {
                display: none;
            }

            .cbp_tmtimeline > li .cbp_tmtime {
                width: 100%;
                position: relative;
                padding: 0 0 20px 0;
            }

            .cbp_tmtimeline > li .cbp_tmtime span {
                text-align: left;
            }

            .cbp_tmtimeline > li .cbp_tmlabel {
                margin: 0 0 30px 0;
                padding: 1em;
                font-weight: 400;
                font-size: 95%;
            }

            .cbp_tmtimeline > li .cbp_tmlabel:after {
                right: auto;
                left: 20px;
                border-right-color: transparent;
                border-bottom-color: #3594cb;
                top: -20px;
            }

            .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
                border-right-color: transparent;
                border-bottom-color: #6cbfee;
            }

            .cbp_tmtimeline > li .cbp_tmicon {
                position: relative;
                float: right;
                left: auto;
                margin: -55px 5px 0 0px;
            }
        }

        #experience
        {
          margin-top : 50px;
        }

        #projects
        {

        }

        #projects .tagsgroup
        {
          text-align : right;
        }

        .greenbadge
        {
          background : #67809F;
        }

        .darkgreenbadge
        {
          background : #67809F;
        }

        .greybadge 
        {
            background: #6C7A89;
        }


        </style>
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="container-fluid">
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
      <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse">
                <h2 class="nav navbar-nav navbar-left name">{{bio.firstName}} {{bio.lastName}}</h2>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="#experience">Professional experience</a></li>
                  <li><a href="#education">Education</a></li>
                  <li><a href="#skills">Skills</a></li>
                  <li><a href="#awards">Awards</a></li>
                  <li><a href="#publications">Publications</a></li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
      </div>
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h2 class="section-title">About me</h2>
            </div>
          </div>
          <div class="row">

            <div class="col-xs-2">
              <a class="text-center" href="#">
                <img class="media-object img-circle" src="profile.png">
              </a>
            </div>
            <div class="col-xs-10">
              <div class="media">
                <div class="media-body">
                  <p>
                    {{bio.summary}}
                  </p>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="container" id="experience">
          <h2 class="section-title">Professional Experience</h2>
            <ul class="cbp_tmtimeline">
{{#work}}
              <li>
                  <time class="cbp_tmtime" datetime=""><span>{{duration}}</span> <span>{{startDate}}</span></time>
                  <div class="cbp_tmicon cbp_tmicon-phone"></div>
                  <div class="cbp_tmlabel">
                      <h2>{{position}}<span class="company"><a href="{{website}}">{{company}}</a></span></h2>
                      <p>
                      <i>{{summary}}</i>
                        <ul>
                        {{#highlights}}
                          <li>{{.}}</li>
                        {{/highlights}}
                        </ul>
                      </p>
                  </div>
              </li>
{{/work}}
            </ul>

        </div>
        <div class="container" id="education">
          <h2 class="section-title">Education</h2>
          <div class="container">
            <ul class="cbp_tmtimeline">
{{#education}}              
              <li>
                  <time class="cbp_tmtime" datetime="2013-04-10 18:30"><span>{{duration}}</span> <span>{{^endDate}} {{startDate}} {{/endDate}}{{#endDate}}{{startDate}}/{{endDate}}{{/endDate}}</span></time>
                  <div class="cbp_tmicon cbp_tmicon-phone"></div>
                  <div class="cbp_tmlabel">
                      <h2>{{area}} <span class="company">{{institution}}</span></h2>
                      <p>
                        <b>{{studyType}}</b>
                        <p>
                          Relevant subjects :
                        </p>
                        <ul>
                          {{#courses}}
                            <li>{{.}}</li>
                          {{/courses}}
                        </ul>
                      </p>
                  </div>
              </li>
{{/education}}
            </ul>
          </div>
        </div>
        <br>
        <div class="container" id="skills">
          <h2 class="section-title">Skills</h2>
          <div class="row">
{{#skills}}
            <div class="col-xs-12 col-md-6">

              <h4> {{name}} </h4>
                <h5><b>{{level}}</b></h5>
                {{#keywords}}
                <span class="badge greenbadge">{{.}}</span> 
                {{/keywords}}
            </div>
            <br>
{{/skills}}

          </div>
        </div>
        <div class="container" id="awards">
          <h2 class="section-title">Awards</h2>
          <div class="container">
{{#awards}}
            <div class="media">
              <div class="media-body">
                <h4 class="media-heading"><span class="badge greybadge ">{{awarder}}</span> {{title}}</h4><p><i>{{date}} </i>
                <p>
                </p>
              </div>
            </div>
{{/awards}}
          </div>
        </div>
        <div class="container" id="publications">
          <h2 class="section-title">Publications</h2>
          <div class="container">
{{#publications}}
            <div class="media">
              <div class="media-body">
                <h4 class="media-heading"><span class="badge greybadge ">{{publisher}}</span> <a href="{{website}}">{{name}}</a></h4><p><i>{{releaseDate}} </i>
                <p>
                </p>
              </div>
            </div>
{{/publications}}
            
          </div>

          </div>
        </div>
<br>
<br>
<br>
<br>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

</body>
</html>
